@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Ubuntu&display=swap");

/* font-family: 'Monoton', cursive;
font-family: 'Ubuntu', sans-serif; */

/* ,
#f4f7f8 und #AC8059  */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #070707;
  font-family: "Ubuntu", sans-serif;
}

header {
  color: #9d9f9f;
  border-bottom: 2px solid #9d9f9f;
}

header > nav > span:nth-of-type(1) {
  font-size: 2em;
  padding: 20px 20px 0 20px;
  font-family: "Monoton", cursive;
}
header > nav > span:nth-of-type(2) {
  position: relative;
  bottom: 5px;
}

header > nav > ul {
  display: inline-block;
  width: 75%;
  text-align: right;
  position: relative;
  bottom: 5px;
}

header > nav > ul > li {
  display: inline-block;
  margin-left: 20px;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: #9d9f9f;
}

header > nav > ul > li > a:hover {
  color: #f4f7f8;
  border-bottom: 2px solid yellow;
}

section {
  color: #f4f7f8;
}

section > aside {
  display: inline-block;
}

section > aside:nth-of-type(1) {
  width: 25%;
}
