@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: url("../img/photo-1486523834155-1dabf4edaa64.webp") no-repeat
    center/cover;
}

div {
  margin-top: 150px;
  position: relative;
}

h1 {
  font-size: 5em;
  color: white;
  text-align: right;
  position: relative;
  right: 550px;
}

h2 {
  font-size: 4em;
  color: white;
  position: absolute;
  right: 550px;
  top: 60px;
}
